<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Test">
        <title>Homepage - UoM Mahjong Society</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="manifest" href="/img/site.webmanifest">
    </head>
    <body>
        <!--This is a comment-->
        <header>
            <div class="navBar">
            <ul class="navBar">
                <li class="navBar"><a class="navBar" href="/">Home</a></li>
                <li class="navBar"><a class="navBar" href="/check">Check your score</a></li>
                <li class="navBar"><a class="navBar" href="/leaderboard">The leaderboard</a></li>
                <li style="float: right;"><a title="Return to our Linktree page" href="https://linktr.ee/mahjong.uom" style="display: flex; align-items: center;"><img src="/img/logo.png" alt="Logo" style="width:40px; height:40px;"></a></li>
            </ul>
            </div>
        </header>
        <main>
            <div>
            <table style="border-radius: 10px; padding: 5px; background: white;">
                <tr style="height: 40px">
                    <td rowspan="2" style="width: 160px">
                        <img src="/img/heartbeat.png" alt="Error" style="display: block; margin-right: auto; margin-left: auto; width:150px; height:150px;">
                    </td>
                    <td style="font-family: Futura-Heavy; font-size: 30px">
                        404!
                    </td>
                </tr>
                <tr>
                    <td class="pageCont" style="vertical-align:top">
                        I'm sorry, the page you've entered is not in service. For other options, please click on a tab above.<br><br>
                        <small>Image by <a href="https://www.freepik.com/free-psd/3d-rendering-ui-icon_20546696.htm#&position=7&from_view=collections">Freepik</a></small>
                    </td>
                </tr>
            </table>
            </div>
            <br>
        </main>
        <footer>
            <i>©2022 The University of Manchester Mahjong Society, all rights reserved</i>
        </footer>
    </body>
</html>