<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Test">
        <title>The leaderboard - UoM Mahjong Society</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <!--This is a comment-->
        <header>
            <div class="navBar">
            <ul class="navBar">
                <li class="navBarActive"><a class="navBar" href="/">Home</a></li>
                <li class="navBar"><a class="navBar" href="/check">Check your score</a></li>
                <li class="navBar"><a class="navBar" href="/leaderboard">The leaderboard</a></li>
                <li style="float: right;"><a title="Return to our Linktree page" href="https://linktr.ee/mahjong.uom" style="display: flex; align-items: center;"><img src="/img/logo.png" alt="Logo" style="width:40px; height:40px;"></a></li>
            </ul>
            </div>
        </header>
        <main>
            <div>
            <table style="border-radius: 10px; padding: 5px; background: white;">
                <tr class="pageHead" >
                    <td colspan="2">
                        Welcome
                    </td>
                </tr>
                <tr class="pageDesc">
                    <td colspan="2">
                        You've landed on the UoM Mahjong Society scores system.
                    </td>
                </tr>
            </table>
            </div>
            <br>
            <div>
            <table style="border-radius: 10px; padding: 5px; background: white;">
                <tr style="height: 40px">
                    <td rowspan="2" style="width: 160px">
                        <img src="/img/warning-sign.png" alt="Warning" style="display: block; margin-right: auto; margin-left: auto; width:150px; height:150px;">
                    </td>
                    <td style="font-family: Futura-Heavy; font-size: 30px">
                        This site is under construction!
                    </td>
                </tr>
                <tr>
                    <td style="font-family: Quicksand-Medium; vertical-align:top">
                        Please be rest assured that this system may be unstable at times. The rename department is currently on leave, so that would return later.<br><br>
                        <small>Image by <a href="https://www.freepik.com/free-psd/3d-rendering-ui-icon_20546689.htm#query=warning%20sign&position=1&from_view=search&track=sph">Freepik</a></small>
                    </td>
                </tr>
            </table>
            </div>
            <br>
        </main>
        <footer>
            <i>©2022 The University of Manchester Mahjong Society, all rights reserved</i>
        </footer>
    </body>
</html>