@font-face {
  font-family: "Futura-Heavy";
  src: url(../fonts/Futura-Heavy.woff);
}

@font-face {
  font-family: "Quicksand-Medium";
  src: url(../fonts/Quicksand-Medium.woff);
}

/*
tr {
  outline: 1px solid black;
}

td {
  outline: 1px solid black;
}
*/

/* Navigation bar */

div.navBar {
  text-align: center;
}

ul.navBar, ul.navDrop {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  margin: 2px;
  padding: 0;
  overflow: hidden;
}

li.navBar {
  float: left;
  border-right: 3px solid rgb(255, 234, 196);
  border-radius:10px 10px 0 0;
}

li.navBarActive {
  float: left;
  background-color: white;
  border-right: 3px solid rgb(255, 234, 196);
  border-radius:10px 10px 0 0;
}

li.navBar:hover:not(.navBarActive) {
  background-color: rgb(255, 196, 0);
}

a.navBar {
  font-family: "Quicksand-Medium";
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  color:black;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px 10px 10px 10px;
}

.dropdown-content a {
  float: none;
  padding: 10px 16px;
  text-decoration: none;
  color: black;
  font-family: "Quicksand-Medium";
  display: block;
  text-align: left;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: rgb(255, 196, 0);
}

.show {
  background-color: white;
  display: block;
}

/* Body */

div.resizer {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgb(255, 234, 196);
}

table {
  width: 100%;
}

td.rank {
  padding: 5px;
  border-radius:10px;
  background-color: white;
  word-wrap: break-word;
}

/* Viewport related */

@media only screen and (max-width: 600px) {
  .desktop, ul.navBar {
    display: none;
  }

  .pageHead {
    font-family: "Futura-Heavy";
    font-size: max(10vw, 35px);
  }

  .pageSubHead {
    font-family: "Futura-Heavy";
    font-size: max(5vw, 25px);
  }
  
  .pageDesc {
    font-family: "Quicksand-Medium";
    font-size: 3.33vw;
  }
  
  .pageCont {
    font-family: "Quicksand-Medium";
    font-size: 2.67vw;
  }

  .pageRank {
    font-family: "Quicksand-Medium";
    font-size: 3vw;
  }

  footer {
    text-align: center;
    font-family: "Quicksand-Medium";
    font-size: 2vw;
  }

  #name {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  .mobile, ul.navDrop {
    display: none;
  }

  .pageHead {
    font-family: "Futura-Heavy";
    font-size: 60px;
  }

  .pageSubHead {
    font-family: "Futura-Heavy";
    font-size: 30px;
  }
  
  .pageDesc {
    font-family: "Quicksand-Medium";
    font-size: 20px;
  }
  
  .pageCont {
    font-family: "Quicksand-Medium";
    font-size: 16px;
  }

  .pageRank {
    font-family: "Quicksand-Medium";
    font-size: 18px;
  }

  footer {
    text-align: center;
    font-family: "Quicksand-Medium";
    font-size: 12px;
  }

  #name {
    width: 80%;
  }
}